<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="25000">
        <setting label="25010" type="text" id="backgroundX" default="-110"/>
        <setting label="25011" type="text" id="backgroundY" default="0"/>
        <setting label="25012" type="number" id="backgroundWidth" default="418"/>
        <setting label="25013" type="number" id="backgroundHeight" default="608"/>
        <setting label="25020" type="text" id="chatX" default="-2"/>
        <setting label="25021" type="text" id="chatY" default="0"/>
        <setting label="25022" type="number" id="chatWidth" default="320"/>
        <setting label="25023" type="number" id="chatHeight" default="600"/>
        <setting label="25024" type="number" id="chatLineHeight" default="20"/>
        <setting label="25025" type="number" id="fontSize" default="12"/>
        <setting label="25026" type="number" id="characters" default="35"/>
        <setting label="25027" type="number" id="delay" default="17"/>
    </category>
</settings>